<!--Barra de navegación-->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="img/logo" alt="logo" height="60"></a>
  <!--Botón de menú de hamburguesa (pequeño dispositivo)-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#"></a>
          </li>

          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Entradas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-center" href="#">Concierto Nacional</a>
                  <a class="dropdown-item text-center" href="#">Concierto Internacional</a>
              </div>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Libros</a>
          </li>
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Zona Privada
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-center" href="#">Registros</a>
              </div>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
